# appointment-service .env.example
APPOINTMENT_SERVICE_PORT=4003
MONGODB_URI=mongodb+srv://dinuwaperera10:dinuwa123@cluster0.mndhh.mongodb.net/smarthealthcare?appName=Cluster0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
NODE_ENV=development
